# Entry version 20241128
[Desktop Entry]
Comment[en_US]=Messaging, telemetry and remote control over LXMF
Comment=Messaging, telemetry and remote control over LXMF
Encoding=UTF-8
Exec=opencom_companion
GenericName[en_US]=LXMF client
GenericName=LXMF client
Icon=uk.co.liberatedsystems.opencom_companion.png
Categories=Utility
MimeType=
Name[en_US]=openCom Companion
Name=openCom Companion
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-KDE-SubstituteUID=false
X-KDE-Username=
